@model IEnumerable<lab5_Jason.Models.RedditPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var post in Model)
{

    <div class="vote roundrect">
        <div class="increment up"  data-postid="@post.Id"><span class="glyphicon glyphicon-arrow-up"></span></div>
        <div class="increment down"  data-postid="@post.Id"><span class="glyphicon glyphicon-arrow-down"></span></div>

        <div class="count">@post.TotalVotes</div>
    </div>
    <div>
        @post.Title @post.Name @post.PostTime
    </div>
}

@section scripts{
<script>
    $(function () {

        $(".up").click(function () {
            var that = this;
            console.log($(that).data("postid"));
            $.post("/RedditPosts/UpVote", { id: $(that).data("postid") })
                  .done(function (data) {
                      console.log(data);
                      $("~ .count", that).text(data);
                  });

        });

        $(".down").click(function () {
            var that = this;
            $.post("/RedditPosts/DownVote", { id: $(that).data("postid") })
                  .done(function (data) {
                      console.log(data);
                      $("~ .count", that).text(data);
                  });

        });
    

    });
</script>

}