@model WebApplication1.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MikeItLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Submitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpVotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownVotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
