@model IEnumerable<WebApplication1.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MikeItLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Submitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpVotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownVotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Submitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Headline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpVotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownVotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
