@model Reddit.Models.Post

<div class="col-lg-2 col-md-2">
    @Html.ActionLink("Vote Up", "VoteUp", new { id = Model.ID }, new { @class = "voteUp" }) <br />
    @Html.ActionLink("Vote Down", "VoteDown", new { id = Model.ID }, new { @class = "voteDown" })
</div>

<div class="container post col-lg-10 col-md-1">
    @Html.ActionLink(Model.Title, "Details", new { id = Model.ID })
    <br />
    @((ViewData["index"].ToString() == "no") ? Html.DisplayFor(model => model.Body) : Html.DisplayFor(model => model.ShortDescription))
    <br />
    <br />
    <p>Votes:  @Html.DisplayFor(model => model.PositiveVote)</p>
    <p>Published on: @Html.DisplayFor(model => model.PublishedOn)
    By: @Html.DisplayFor(model => model.Publisher)</p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
</div>